<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Egy.Best">
		<setting type="lsep" label="" />
		<setting type="sep" />
		<setting type="lsep" label="[COLOR yellow]يرجى كتابة اسم الدخول وكلمة السر للموقع  http://egy.best[/COLOR]" />
		<setting type="sep" />
		<setting type="lsep" label="" />
		<setting id="egybest.user" type="text" label=": اسم الدخول" default="" enable="true" />
		<setting type="lsep" label="" />
		<setting id="egybest.pass" type="text" label=": كلمة السر" default="" option="hidden" />
		<setting type="lsep" label="" />
		<setting type="sep" />
	</category>
</settings>
